DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=kaus_user
DATABASE_PASSWORD=kaus_password
DATABASE_NAME=kaus_db
# disable (predefinicao, para desenvolvimento local) ou require (obrigatorio para bases remotas)
DATABASE_TLS=disable
# Token Bearer exigido nas rotas /api. Opcional em desenvolvimento, obrigatorio nos demais ambientes.
API_TOKEN=
